:root {
    --color-primary: #00B9E1;
    --color-primary-hover: #008BA9;
    --color-primary-dark: #134F71;
    --color-primary-light: #C7F1FF;
    --color-secondary: #FFE071;
    --color-secondary-hover: #f5c61d;
    --color-secondary-dark: #C99114;
    --color-secondary-complement: #EBCD62;
    --color-secondary-in-primary: #FFF2C2;
    --color-base: #323232;
    --color-text-base: #5E6E7C;
    --color-background: #EEEEEE;
    --color-text-complement: #5B5B5B;
    --color-text-input: #A9A9A9;
    --color-box-border: #c9d1d8;
    --color-box-base: #FFFFFF;
    --color-box-footer: #f9f9f9;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base)
}
#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5% /* todo 1rem vai ser relativo à 10px */

    }
}
